{% extends 'base.html.twig' %}

{% block body %}

<!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase" style="color: #0f6674;">Au delà des sommets</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#tricks"><i class="fas fa-arrow-down"></i></a>
      </div>
    </div>
  </header>

  <!-- Portfolio Grid -->
  <div id="tricks">
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        {% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        {% if ( label == 'success' ) %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ flash }}
        </div>
        {% elseif ( label == 'error' ) %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ flash }}
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
          <h2 class="section-heading text-uppercase" style="margin-bottom: 70px;">Tricks</h2>
        </div>
      </div>
      <div class="row">
      {% for article in articles %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="{{path('tricks', {'id': article.id, 'page': 1})}}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            
            <img class="img-fluid" src="{{ asset('uploads/brochures/' ~ article.image1) }}" alt="">
            
          </a>
          <div class="portfolio-caption">
              {% if app.user %}
              <h4>
               <a href="{{path('user_edit', {'id': article.id})}}" title="edit"><i class="fa fa-edit" style="color:#56dbaf;"></i></a> <a href="{{path('user_delete', {'id': article.id,'state': 'false'})}}" title="delete"><i class="fa fa-trash-alt" style="color:#d11e15;"></i></a> {{article.title}}</h4>
              {% else %}
            <h4>{{article.title}}</h4>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </section>
  </div>

{% endblock %}
