{% extends 'base.html.twig' %}

{% block body %}




<p>{{article.title}}</p>
<p>{{article.content}}</p>

<p>{{article.author}}</p>

<p>{{article.createdAt | date('d/m/Y')}} a {{article.createdAt | date('H:i:s')}}</p>

<img class="img-fluid" src="{{ asset('uploads/brochures/' ~ article.image1) }}" alt="">

<img class="img-fluid" src="{{ asset('uploads/brochures/' ~ article.image2) }}" alt="">

<img class="img-fluid" src="{{ asset('uploads/brochures/' ~ article.image3) }}" alt="">

<img class="img-fluid" src="{{ asset('uploads/brochures/' ~ article.image4) }}" alt="">

 {{article.video | raw}}



{% endblock %}