{% extends 'base.html.twig' %}

{# add this at the beginning of your template #}
{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h2 class="text-uppercase">{{trick.title}}</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <div class="row">
                <div class="col-md-3 col-sm-3">
                <img class="img-fluid d-block mx-auto" src="{{ asset('uploads/brochures/' ~  trick.image1) }}" alt="">
                </div>
                <div class="col-md-3 col-sm-3">
                <img class="img-fluid d-block mx-auto" src="{{ asset('uploads/brochures/' ~  trick.image2) }}" alt="">
                </div>
                <div class="col-md-3 col-sm-3">
                <img class="img-fluid d-block mx-auto" src="{{ asset('uploads/brochures/' ~  trick.image3) }}" alt="">
                </div>
                <div class="col-md-3 col-sm-3">
                <img class="img-fluid d-block mx-auto" src="{{ asset('uploads/brochures/' ~  trick.image4) }}" alt="">
                </div>
                <div class="col-md-3 col-sm-3">
                {{trick.video | raw}}
                </div>
                </div>
                <p>{{trick.content | raw}}</p>
                <ul class="list-inline">
                  <li>Date: {{trick.createdAt | date('d/m/Y')}} a {{trick.createdAt | date('H:i:s')}}</li>
                  <li>Auteur: {{trick.author}}</li>
                  <li>Category: {{trick.category.title}}</li>
                </ul>

<section>
              

                {% if comments is not empty %}
                    {% for comment in comments %}
                        <article>
                         <header>
                             <h1 class="article-titre">{{ comment.author }}</h1>
                             <img class="img-fluid d-block mx-auto" src="{{ asset('uploads/brochures/' ~  comment.user.image) }}" alt=""> 
                         <div class="article-meta">
                             Publié le (<small>{{comment.createdAt | date('d/m/Y')}} a {{comment.createdAt | date('H:i:s')}}</small>).     
                         </div>
                             </header>

                           {{comment.content | raw}}
                    </article>
                        <hr class="article-separation"/>
                    {% endfor %}
                {% else %}
                    <p>Il n'y a aucun commentaire pour l'instant.</p>
                {% endif %}


                {% if app.user %}

                {{form_start(commentForm)}}
                {{form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}})}}
                <button class="btn btn-success" type="submit">Commenter !</button>
                {{form_end(commentForm)}}

                {% else %}
                <h2>vous devez etre connecter ou inscript pour povoire commenter
                {% endif %}



                {% if pagination.nbPages > 0 %}
    <ul class="pagination">
        {% if pagination.page > 1 %}
            <li>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'id': trick.id, 'page': 1})) }}">
                    <<
                </a>
            </li>
            <li>
                <a href="{{ path(pagination.nomRoute,
                pagination.paramsRoute|merge({'id': trick.id, 'page': pagination.page-1})) }}">
                    <
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
            <li {% if p == pagination.page %}class="active"{% endif %}>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'id': trick.id, 'page': p})) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if pagination.page < pagination.nbPages %}
            <li>
                <a href="{{ path(pagination.nomRoute,
                pagination.paramsRoute|merge({'id': trick.id, 'page': pagination.page+1})) }}">
                    >
                </a>
            </li>
            <li>
                <a href="{{ path(pagination.nomRoute,
                pagination.paramsRoute|merge({'id': trick.id, 'page': pagination.nbPages})) }}">
                    >>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}



                </section>

       

{% endblock %}
